footer {
    /*margin: 3em auto;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;*/
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-container {
    /*margin-right: 3em;
    margin-left: 3em;*/
    padding-top: 1em;
}

footer .partner-deltares {
    margin-top: -5%;
    width: 230px !important;
    float: right;
}

/*
@media(max-width:767px){} --> extra small devices
@media(min-width:768px){} --> small devices
@media(min-width:992px){} --> medium devices
@media(min-width:1200px){} --> large devices
*/

@media (max-width: 1024px) {
	#footer-content {
		display: none;
	}
}

footer .partner-sig {
    width: 250px !important;
    float: left;
}

footer .partner-sei {
    width: 250px !important;
    margin: auto;
}
footer .partner-mrc {
    display: block;
    max-width: 182px;
    max-height: 120px;
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

footer > div img {
	width: 70%;
	display: block;
}

.info-footer {
	background-color: rgb(241, 241, 241);	
}

.copyright {
    margin-top: 1.5em;
    font-size: 1.1em;
}

.footer-links {
    letter-spacing: 0.02em;
    font-size: 1.1em;
    text-transform: uppercase;
}

.footer-link {
	margin-bottom: 0.35em;
	font-weight: bold;
}

li.footer-link {
	list-style-type: none;
}