<!-- Footer -->
<footer ng-cloak ng-controller="settingsCtrl" class="main-padding">
	<div class="container-fluid footer-container">
		<div class="row">
            <div ng-repeat="partner in partnersFooter" class="col-md-4 col-sm-4 col-lg-4">
                <a href="[[partner.url]]" target="_blank">
                    <img class="grow img-responsive [[partner.className]]" src="[[partner.src]]" alt="[[partner.alt]]">
                </a>             
            </div>
		</div>
	</div>

    <div class="container-fluid footer-container info-footer" id="footer-content">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-6">
                <img class="logo-servir" src="https://servir.adpc.net/themes/svmk/images/optimized/Servir_Logo_Color.png" alt="SERVIR Mekong">
                <br>
                <a type="button" class="btn btn-primary" href="https://servir.adpc.net/services/technical-assistance">
                    Request Technical Assistance
                </a>
                <br>
                <p class="copyright">
                    <em>© <span id="year"></span> Asian Disaster Preparedness Center (ADPC). All Rights Reserved.</em>
                    <script>document.getElementById('year').innerHTML = new Date().getFullYear();</script>
                </p>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-6" style="font-size: 15px;">        
                <ul class="footer-links">
                    <li class="footer-link" ng-repeat="footerLink in footerLinks">
                         <a ng-show="footerLink.show" href="[[footerLink.url]]" target="_blank">[[footerLink.name]]</a>
                     </li>
                </ul>
             </div>
        </div>
    </div>
</footer>