<!-- Crop Yield Panel -->
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>
			<a class="accordion-toggle js-tooltip"
			   title="Allows to generate crop yield related information"
			   data-placement="bottom"
			   data-toggle="collapse"
			   data-parent="#accordion"
			   ng-click="broadcastTimeSlider()"
			   href="#crop-yield">Crop Yield</a>
		</h4>
	</div>
	<div id="crop-yield" class="panel-collapse collapse out text-center">
		<div class="panel-body">
			<h4>Information will be updated soon!</h4>
		</div>
		<!-- End Panel Body -->
	</div>
</div>