<!-- Disclaimer Panel -->
<div class="panel panel-primary">
	<div class="panel-heading disclaimer-collapse-heading">
		<h4>
			<a class="accordion-toggle js-tooltip"
			   title="Disclaimer info"
               data-placement="bottom"
			   data-toggle="collapse"
			   translate>DISCLAIMER_TITLE</a>
		</h4>
	</div>
	<div id="disclaimer-collapse" class="panel-collapse collapse out text-center">
		<div class="panel-body" translate>
			<h4>DISCLAIMER_MESSAGE</h4>
		</div>
		<!-- End Panel Body -->
	</div>
</div>
