<!-- Data Download Panel -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>
            <a class="accordion-toggle js-tooltip"
               title="Allows to generate drought related information"
               data-placement="bottom"
               data-toggle="collapse"
               data-parent="#accordion"
               ng-click="broadcastTimeSlider()"
               href="#drought">Drought</a>
        </h4>
    </div>
    <div id="drought" class="panel-collapse collapse out text-center">
        <div class="panel-body">
            <table class="sidebar-table">
                <tbody>
                    <tr class="border-bottom">
                        <td>
							<div class="form-group" ng-show="showAreaFilterSlider">
                                <label for="areaFilterSlider">Area Filter Layer</label>
                                <input id="areaFilterSlider" data-slider-id="areaFilterSlider" type="text"
                                       data-slider-min="0" data-slider-max="1" data-slider-step="0.1"
                                       data-slider-value="0.2">
                            </div>
                            <div class="form-group">
                                <label for="area-filter" class="js-tooltip"
                                       title="Allows to select the desired area for generating the drought related information">
                                    Area
                                </label>
                                <select name="area-filter" class="form-control"
                                        id="area-filter" ng-options="option.name for option in areaFilter.options"
										ng-model="areaFilter.value"
										ng-change="adminAreaChange(areaFilter.value)"></select>
							</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							<div class="form-group">
								<label for="index-filter" class="js-tooltip"
                                       title="Allows to select the category of variables which is needed to visualize">
                                    Select Index
                                </label>
                                <select name="index-filter" class="form-control"
										ng-options="option.name for option in indexSelectors | orderBy:'name'"
										ng-model="indexSelector"
										ng-change="populateVariableOptions(indexSelector)"></select>
							</div>
                        </td>
                    </tr>
                    <tr ng-show="showVariableSelect">
                        <td>
							<div class="form-group" id="indexOptions">
                                <label for="variable-filter" class="js-tooltip"
                                       title="Select the required variable to visualize">
                                       Select Variable
                                </label>
                                <select name="variable-filter" class="form-control"
										ng-options="option.name for option in indexOptions | orderBy:'name'"
										ng-model="indexOption.option"></select>
							</div>
                        </td>
                    </tr>
                </tbody>
            </table>                    
        </div>
        <!-- End Panel Body -->
        <div class="panel-footer">
            <div class="row text-center">
                <button type="button" class="btn btn-primary" ng-click="updateMap()">
				    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Show in Map
				</button>
				<button type="button" class="btn btn-primary" ng-click="showChart()">
					<span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Show Chart
				</button>
            </div>
            <br>
            <div class="row text-center">
                <div class="btn-group" ng-show="showDownloadButton">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="" target="_blank" class="download-btn" ng-click="downloadRaster()">Download Raster</a></li>
                        <li><a href="" ng-click="downloadVector()">Download Vector</a></li>
                    </ul>
                </div>
                <!--<button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print Map
                </button>-->
            </div>
        </div>
    </div>
</div>