
# python compile files
# ===========
*.pyc
static/*
# Setting and config files
rdcyis/settings.py
mapclient/config.py
# Unused templates
# ======================

# Vendor files
# ======================
rdcyis/static/vendor/*
rdcyis/static/dist/*
# Exception to the rule
!rdcyis/static/dist/README.md

# Node and related environment
# ======================
.npmignore
node_modules/
_pycache_/
