
# python compile files
# ===========
*.pyc
credentials/
static/*
# Setting and config files
cdisDjangoApp/settings.py

# Unused templates
# ======================

# Vendor files
# ======================
cdisDjangoApp/static/vendor/*
cdisDjangoApp/static/dist/*
# Exception to the rule


# Node and related environment
# ======================
.npmignore
node_modules/
_pycache_/
