
# python compile files
# ===========
*.pyc
credentials/
static/*
# Setting and config files
mdisDjangoApp/settings.py

# Unused templates
# ======================

# Vendor files
# ======================
mdisDjangoApp/static/vendor/*
mdisDjangoApp/static/dist/*
# Exception to the rule


# Node and related environment
# ======================
.npmignore
node_modules/
_pycache_/
