{% extends 'base.html'%}
<html>
<head>
  {% block head %}
  <title>MDCW</title>
  {% endblock %}
</head>
<body>

  {% block body%}

  <!-- ======= Hero Section ======= -->
  <div class="row" style="background: #5d4f3f;color:#FFF;margin-bottom: 30px;">
    <div class="container ">
      <div class="row">
        <div class="col-lg-2 menu-tab">
          <a href="/home" >DROUGHT</a>
        </div>
        <div class="col-lg-2 menu-tab active">
          <a href="/crop">CROP YIELD</a>
        </div>
      </div>
    </div>
  </div>


  <main id="main"  ng-controller="CropMapController">
    <div id="loader" class="loader" ng-show="showLoader">
      <div class="loading-img"></div>
    </div>
    <div class="container">
    
      <section style="padding: 10px 0 30px 0;">
        <div class="col-lg-12" style="padding-top: 20px; background: #eee; margin-bottom: 30px;">
          <div class="row">
            <div class="col-lg-6">
              <!-- <h2><span><img src="/static/images/icons/drought-color-icon.png" alt="" height="100px"></span>  RICE CROP</h2> -->
              <!-- <h2><span><img src="/static/images/icons/drought-color-icon.png" alt="" height="100px"></span>  RICE CROP</h2> -->
              <h2>RICE CROP</h2>
            </div>

                <div class="col-6">
                  <div class="form-group">
                    SELECT AREA
                    <select class="form-control" id="area_selector" >
                      <option value="ninh_thuan_districts">Ninh Thuan Province, Vietnam</option>
                      <option value="ninh_thuan_districts" disabled>Nam Dinh Province, Vietnam</option>
                      <option value="ninh_thuan_districts" disabled>Quang Ninh Province, Vietnam</option>
                    </select>
                  </div>
                </div>

            
          </div>
        </div>
        

        <div class="col-lg-12" id="[[item.Items]]" ng-repeat="item in cropListSummary">
            <div class="summary-country">[[item.Items]]</div>
            <p class="summary-detail">[[item.Desc]]</p>
          
        </div>

      </section>

      <section>
          <div class="row">
            <div class="col-lg-12 col-md-6" id="map-nav" style="display:none;">
              <a href="#" id="mekong-map">Mekong</a> <span> </span>
              <a href="#" id="country-map"></a> <span> </span>
              <a href="#" id="province-map"></a> <span> </span>
            </div>
  
            <div class="col-lg-6 col-md-6">
              <div class="row">
                <div class="col-lg-12">
                  <div class="map-title">CROP GROWTH ESTIMATION:</div>
                  <p>Map Updated: <span id="map-updated-date"></span></p>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-3">
                        <input type="radio" id="current-24d" name="current-radio-group">
                        <label for="current-24d" data-toggle="tooltip" data-html="true" data-placement="right" title="24 days ago"> <span> < </span> 24D</label>
    
    
                      </div>
                      <div class="col-lg-3">
                        <input type="radio" id="current-16d" name="current-radio-group">
                        <label for="current-16d" data-toggle="tooltip" data-html="true" data-placement="right" title="16 days ago"><span> < </span> 16D</label>
    
                      </div>
                      <div class="col-lg-3">
                        <input type="radio" id="current-8d" name="current-radio-group">
                        <label for="current-8d" data-toggle="tooltip" data-html="true" data-placement="right" title="8 days ago"><span> < </span> 8D</label>
    
                      </div>
                      <div class="col-lg-3">
                        <input type="radio" id="current-d" name="current-radio-group" checked>
                        <label for="current-d">CURRENT</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="map-1" id="map1"></div>
              <p id="mouseover-feature"></p>
              <hr>
              <div class="row">
                <div class="col-lg-12">
                  <!-- <label for="">Map Download </label>  -->
                  <button type="button" class="btn btn-color1" id="raster-btn-download">Download a raster</button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-6 legend-list">
                  <label for="">Legend</label>
                  <table style="font-size: 10px;table-layout:fixed;">
                    <tr>
                      <td width="30"><div class="intensity-class" style="background: #FFF; border:1px solid #C3C3C3;"></div></td>
                      <td width="55">No Data/Out of Season</td>
                      <td width="30"><div class="intensity-class" style="background: #00A2E8; border:1px solid #C3C3C3;"></div></td>
                      <td width="40">High</td>
                      <td width="30"><div class="intensity-class" style="background: #22B14C; border:1px solid #C3C3C3;"></div></td>
                      <td width="40">Above Normal</td>
                      <td width="30"><div class="intensity-class" style="background: #FFF200; border:1px solid #C3C3C3;"></div></td>
                      <td width="40">Normal</td>
                      <td width="30"><div class="intensity-class" style="background: #FF7F27; border:1px solid #C3C3C3;"></div></td>
                      <td width="40">Below Normal</td>
                      <td width="30"><div class="intensity-class" style="background: #ED1C24; border:1px solid #C3C3C3;"></div></td>
                      <td width="40">Low</td>
                    </tr>
                  </table>
                </div>

              </div>
  
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="row" style="text-align: right;">
                <div class="col-lg-12">
                  <div class="map-title">POTENTIAL YIELD ESTIMATION:</div>
                  <p><span id="map-yield-date"></span></p>
                </div>
              </div>
  
              <div class="map-2" id="map2"></div>
              <hr>
              <div class="row">
                <div class="col-lg-12">
                  <!-- <label for="">Map Download </label>  -->
                  <button type="button" class="btn btn-color1" id="geojson-btn-download">Download a geojson</button>
                </div>
              </div>
              
              <div class="row" style="border-left: 1px solid #c3c3c3;">
                <div class="col-lg-12 col-md-6 legend-list">
                  <!-- <h2>Outlook Warning</h2> -->
                  <label for="">Average Yield (kg/ha)</label>
                  <table style="font-size: 10px;">
                    
                    <tr>
                      <td><div class="intensity-class" style="background: #FFFFD8; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #FFFF9D; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #E3F59B; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #C6EB98; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #AAE096; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #8ED694; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #71CC91; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #55C28F; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #00A388; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #1CAD8A; border:1px solid #C3C3C3;"></div></td>
                      <td><div class="intensity-class" style="background: #00A388; border:1px solid #C3C3C3;"></div></td>
                    </tr>
                    <tr>
                      <td>Less than 2000</td>
                      <td>2000-3000</td>
                      <td>3000-3500</td>
                      <td>3500-4000</td>
                      <td>4000-4500</td>
                      <td>4500-5000</td>
                      <td>5000-5500</td>
                      <td>5500-6000</td>
                      <td>6000-6500</td>
                      <td>6500-7000</td>
                      <td>more than 7000</td>
                    </tr>
        
                  </table>
                  
                </div>
              </div>
  
            </div>
          </div>
  
      </section>

      <div class="row">
        <div class="col-lg-12 col-md-6 intensity-table" style="margin-bottom: 50px;">
          <h3>Crop Growth Estimation</h3>
          <table>
            <tr>
              <th></th>
              <th>Category</th>
              <th>Description</th>
            </tr>
            <tr>
              <td style="background: #ED1C24;"></td>
              <td>Low</td>
              <td>Crop conditions are well below average. Crop yields are likely to be far below average.</td>
            </tr>
            <tr>
              <td style="background: #FF7F27;"></td>
              <td>Below Norma</td>
              <td>Conditions are somewhat below from average but there is a potential risk to final yields.</td>
            </tr>
            <tr>
              <td style="background: #FFF200;"></td>
              <td>Normal</td>
              <td>Conditions and yields are expected to be normal</td>
            </tr>
            <tr>
              <td style="background: #22B14C;"></td>
              <td>Above Normal</td>
              <td>Conditions are somewhat far from average and there is no potential risk to final yields</td>
            </tr>
            <tr>
              <td style="background: #00A2E8;"></td>
              <td>High</td>
              <td>Conditions are much better than average. Crop yields are likely to be above average</td>
            </tr>
            <tr>
              <td style="background: #FFF;"></td>
              <td>No Data/ out of Season</td>
              <td>No data OR Crops are not currently planted</td>
            </tr>

          </table>
        </div>

        
        <div class="col-lg-12 col-md-6 calendar-table">
          <h3>Rice Crop Calendar (Ninh Thuan Province)</h3>
          <table style="font-size: 10px; width: 120px;font-size: 14px;margin-bottom: 10px;">
            <tr>
              <td width="30"><div class="intensity-class" style="background: #88A541; border:1px solid #C3C3C3;"></div></td>
              <td width="55">Planting</td>
              <td width="30"><div class="intensity-class" style="background: #F89F1D; border:1px solid #C3C3C3;"></div></td>
              <td width="40">Harvesting</td>
            </tr>
          </table>

          <table>
           <tbody>
             <tr style=" background: #877664; color: #FFF;">
               <th style="width: 20%;">Season</th>
               <th>Jan</th>
               <th>Feb</th>
               <th>Mar</th>
               <th>Apr</th>
               <th>May</th>
               <th>Jun</th>
               <th>Jul</th>
               <th>Aug</th>
               <th>Sep</th>
               <th>Oct</th>
               <th>Nov</th>
               <th>Dec</th>
             </tr>
             <tr>
               <td style="width: 20%;text-align: left;"> Dong-Xuan (or Winter-Spring) </td>
               <td style="background: #88A541;"></td>
               <td></td>
               <td></td>
               <td style="background: #F89F1D;"></td>
               <td style="background: #F89F1D;"></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td style="background: #88A541;"></td>
               
             </tr>
             <tr>
              <td style="width: 20%;text-align: left;"> He-Thu (or Summer-Autumn)  </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="background: #88A541;"></td>
              <td style="background: #88A541;"></td>
              <td></td>
              <td></td>
              <td style="background: #F89F1D;"></td>
              <td style="background: #F89F1D;"></td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td style="width: 20%;text-align: left;"> Mua (or monsoon) </td>
              <td style="background: #F89F1D;"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="background: #88A541;"></td>
              <td style="background: #88A541;"></td>
              <td></td>
              <td></td>
              <td style="background: #F89F1D;"></td>
              
            </tr>
             
             
           </tbody>

          </table>

        </div>
<!-- 
        <div class="col-lg-12 col-md-6">
          <div class="panel panel-danger" style="background-color:#ebccd1; margin-top: 50px; padding:15px;">
            <div class="panel-body">
              <p>
                <span>
                  <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-exclamation-diamond" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg>
                </span>
                <b style="font-size:36px;">Page Under Construction </b>
              </p>
              <h4 class="text-justify">
                  Invite you to come back here soon
              </h4>

              

            </div>
          </div>
        </div> -->

      </div>
    </div>


  </main><!-- End #main -->
    {% endblock %}
  </body>
  </html>
