{% extends 'base.html'%}
<html>
<head>
  {% block head %}
  <title>MDCW</title>
  {% endblock %}
</head>
<body>

  {% block body%}

  <!-- ======= Hero Section ======= -->
  <div class="row" style="background: #5d4f3f;color:#FFF;margin-bottom: 30px;">
    <div class="container ">
      <div class="row">
        <div class="col-lg-2 menu-tab">
          <a href="/home" >DROUGHT</a>
        </div>
        <div class="col-lg-2 menu-tab active">
          <a href="/crop">CROP YIELD</a>
        </div>
      </div>
    </div>
  </div>


  <main id="main"  ng-controller="CropMapController">
    <div class="container">

      <section style="padding: 10px 0 30px 0;">
        <div class="col-lg-12" style="padding-top: 20px; background: #eee; margin-bottom: 30px;">
          <div class="row">

            <div class="col-lg-6">
              <h2>RICE CROP</h2>
            </div>

                <div class="col-6">
                  <div class="form-group">
                    SELECT AREA
                    <select class="form-control" name="" >
                      <option value="0">Ninh Thuan Province, Vietnam</option>
                      <option value="1">Nam Dinh Province, Vietnam</option>
                      <option value="2">Quang Ninh Province, Vietnam</option>
                    </select>
                  </div>
                </div>

            
          </div>
        </div>
        

        <div class="col-lg-12" id="[[item.Items]]" ng-repeat="item in cropListSummary">
            <div class="summary-country">[[item.Items]]</div>
            <p class="summary-detail">[[item.Desc]]</p>
          
        </div>

      </section>

      <section>
          <div class="row">
            <div class="col-lg-12 col-md-6" id="map-nav" style="display:none;">
              <a href="#" id="mekong-map">Mekong</a> <span> </span>
              <a href="#" id="country-map"></a> <span> </span>
              <a href="#" id="province-map"></a> <span> </span>
            </div>
  
            <div class="col-lg-6 col-md-6">
              <div class="row">
                <div class="col-lg-12">
                  <div class="map-title">CROP CONDITIONS:</div>
                  <p>Map Updated: <span id="map-updated-date"></span></p>
                </div>
              </div>
  
              <div class="map-1" id="map1"></div>
              <p id="mouseover-feature"></p>
              <hr>
              <div class="row">
                <div class="col-lg-6 col-md-6 legend-list">
                  <h2>Intensity of Current Conditions</h2>
                  <ul>
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="background: #88A541; border:1px solid #C3C3C3;"></div>
                        </div>
                        <div class="col-lg-10">
                          No Drought
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="background:#F89F1D"></div>
                        </div>
                        <div class="col-lg-10">
                          Moderately Dry
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="background: #B97A57"></div>
                        </div>
                        <div class="col-lg-10">
                          Severely Dry
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="background:#880015"></div>
                        </div>
                        <div class="col-lg-10">
                          Extremely Dry
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="border:1px solid #C3C3C3;"></div>
                        </div>
                        <div class="col-lg-10">
                          No Data
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
  
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="row" style="text-align: right;">
                <div class="col-lg-12">
                  <div class="map-title">POTENTIAL YIELD ESTIMATION:</div>
                  <p>Map Updated: <span id="map-outlook-date"></span></p>
                </div>
              </div>
  
              <div class="map-2" id="map2"></div>
              <hr>
              <div class="row" style="border-left: 1px solid #c3c3c3;">
                <div class="col-lg-6 col-md-6 legend-list">
                  <h2>Outlook Warning</h2>
                  <ul>
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="background: #88A541; border:1px solid #C3C3C3;"></div>
                        </div>
                        <div class="col-lg-10">
                          None
                        </div>
                      </div>
                    </li>
  
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="background:#F89F1D"></div>
                        </div>
                        <div class="col-lg-10">
                          Watch
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="background: #B97A57"></div>
                        </div>
                        <div class="col-lg-10">
                          Warning
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row col-lg-12">
                        <div class="col-lg-2">
                          <div class="intensity-class" style="background:#880015"></div>
                        </div>
                        <div class="col-lg-10">
                          Alert
                        </div>
                      </div>
                    </li>
                  </ul>
  
                </div>
              </div>
  
            </div>
          </div>
  
      </section>

      <div class="row">
        <div class="col-lg-12 col-md-6 intensity-table">
          <h3>Crop Calendar (Ninh Thuan Province)</h3>
          <table>
           <tbody>
             <tr>
               <th>Season</th>
               <th>Jan</th>
               <th>Feb</th>
               <th>Mar</th>
               <th>Apr</th>
               <th>May</th>
               <th>Jun</th>
               <th>Jul</th>
               <th>Aug</th>
               <th>Sep</th>
               <th>Oct</th>
               <th>Nov</th>
               <th>Dec</th>
             </tr>
             <tr>
               <td> Dong-Xuan (or Winter-Spring) </td>
               <td style="background: #88A541;"></td>
               <td></td>
               <td></td>
               <td style="background: #F89F1D;"></td>
               <td style="background: #F89F1D;"></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td style="background: #88A541;"></td>
               
             </tr>
             <tr>
              <td> He-Thu (or Summer-Autumn)  </td>
              <td></td>
              <td></td>
              <td></td>
              <td style="background: #88A541;"></td>
              <td style="background: #88A541;"></td>
              <td></td>
              <td></td>
              <td style="background: #F89F1D;"></td>
              <td style="background: #F89F1D;"></td>
              <td></td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td> Mua (or monsoon) </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="background: #88A541;"></td>
              <td style="background: #88A541;"></td>
              <td></td>
              <td></td>
              <td style="background: #F89F1D;"></td>
              <td style="background: #F89F1D;"></td>
              <td></td>
              <td></td>
              
            </tr>
             
             
           </tbody>

          </table>

        </div>
<!-- 
        <div class="col-lg-12 col-md-6">
          <div class="panel panel-danger" style="background-color:#ebccd1; margin-top: 50px; padding:15px;">
            <div class="panel-body">
              <p>
                <span>
                  <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-exclamation-diamond" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg>
                </span>
                <b style="font-size:36px;">Page Under Construction </b>
              </p>
              <h4 class="text-justify">
                  Invite you to come back here soon
              </h4>

              

            </div>
          </div>
        </div> -->

      </div>
    </div>


  </main><!-- End #main -->
    {% endblock %}
  </body>
  </html>
