{% extends 'base.html'%}
<html>
<head>
  {% block head %}
  <title>MDCW</title>
  {% endblock %}
</head>
<body>

  {% block body%}
  <!-- ======= Hero Section ======= -->
  <div class="row" style="background: #5d4f3f;color:#FFF;margin-bottom: 30px;">
    <div class="container ">
      <div class="row">
        <div class="col-lg-2 menu-tab active">
          <a href="/home" >DROUGHT</a>
        </div>
        <div class="col-lg-2 menu-tab">
          <a href="/crop">CROP YIELD</a>
        </div>
      </div>
    </div>
  </div>
  <main id="main">
    <div class="container" ng-controller="FeatureController">
      <div id="loader" class="loader" ng-show="showLoader">
        <div class="loading-img"></div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 side-menu">
            <div class="feature-articles-title">
              <p>FEATURE ARTICLES</p>
              <hr>
            </div>
            <div class="col-lg-12">
              <ul style="list-style-type: circle;margin-left: 20px;">
                <li ng-repeat="feature in featureArticles"> <a href="[[feature.Link]]" target="_blank">[[feature.Title]]</a> </li>
              </ul>
            </div>
            <div class="feature-articles-title">
              <p>KNOWLEDGE CENTER</p>
              <hr>
            </div>
            <div class="col-lg-12">
              <ul style="list-style-type: circle;margin-left: 20px;">
                <li ng-repeat="item in knowledgeCenter"> <a href="[[item.Link]]" target="_blank">[[item.Title]]</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-md-6 main-content">
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="feature-articles-title">
                  <h2>FEATURE ARTICLES</h2>
                  <hr>
                </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-6 text-center"  ng-repeat="feature in featureArticles">
                      <div class="feature-box">
                        <div class="feature-img" style="background-image:url([[feature.Image]]); background-position: top; background-repeat: no-repeat; background-size: cover;">
                        </div>
                        <a href="[[feature.Link]]" target="_blank">[[feature.Title]]</a>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="feature-articles-title">
                  <h2>KNOWLEDGE CENTER</h2>
                  <hr>
                </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-6 text-center"  ng-repeat="item in knowledgeCenter">
                      <div class="feature-box">
                        <div class="feature-img" style="background-image:url([[item.Image]]); background-position: top; background-repeat: no-repeat; background-size: cover;">
                        </div>
                        <a href="[[item.Link]]" target="_blank">[[item.Title]]</a>
                      </div>
                    </div>
                  </div>
              </div>

            </div>

          </div>

      </div>
    </div>


  </main><!-- End #main -->
    {% endblock %}
  </body>
  </html>
