{% extends 'base.html'%}
<html>
<head>
  {% block head %}
  <title>MDCW</title>
  {% endblock %}
</head>
<body>

  {% block body%}
  <!-- ======= Hero Section ======= -->
  <div class="row" style="background: #552f03;color:#FFF;margin-bottom: 30px;">
    <div class="container ">
      <div class="row">
        <div class="col-lg-2 menu-tab active">
          <a href="/home" >DROUGHT</a>
        </div>
        <div class="col-lg-2 menu-tab">
          <a href="/crop">CROP YIELD</a>
        </div>
      </div>
    </div>
  </div>
  <main id="main" ng-controller="CurrentMapController">
    <div id="loader" class="loader" ng-show="showLoader">
      <div class="loading-img"></div>
    </div>
    <section class="content-lists">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6" id="map-nav" style="display:none;">
            <a href="#" id="mekong-map">Mekong</a> <span> </span>
            <a href="#" id="country-map"></a> <span> </span>
            <a href="#" id="province-map"></a> <span> </span>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="row">
              <div class="col-lg-12">
                <div class="map-title">Current Conditions</div>
                <p>Map Updated: <span id="map-updated-date"></span></p>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3">
                    <input type="radio" id="current-24d" name="current-radio-group">
                    <label for="current-24d" data-toggle="tooltip" data-html="true" data-placement="right" title="24 days ago"> <span> < </span> 24D</label>


                  </div>
                  <div class="col-lg-3">
                    <input type="radio" id="current-16d" name="current-radio-group">
                    <label for="current-16d" data-toggle="tooltip" data-html="true" data-placement="right" title="16 days ago"><span> < </span> 16D</label>

                  </div>
                  <div class="col-lg-3">
                    <input type="radio" id="current-8d" name="current-radio-group">
                    <label for="current-8d" data-toggle="tooltip" data-html="true" data-placement="right" title="8 days ago"><span> < </span> 8D</label>

                  </div>
                  <div class="col-lg-3">
                    <input type="radio" id="current-d" name="current-radio-group" checked>
                    <label for="current-d">CURRENT</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="map-1" id="map1"></div>
            <p id="mouseover-feature"></p>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 legend-list">
                <h2>Intensity of Current Conditions</h2>
                <ul>
                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="background: #88A541; border:1px solid #C3C3C3;"></div>
                      </div>
                      <div class="col-lg-10">
                        No Drought
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="background:#F89F1D"></div>
                      </div>
                      <div class="col-lg-10">
                        Moderately Dry
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="background: #B97A57"></div>
                      </div>
                      <div class="col-lg-10">
                        Severely Dry
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="background:#880015"></div>
                      </div>
                      <div class="col-lg-10">
                        Extremely Dry
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="border:1px solid #C3C3C3;"></div>
                      </div>
                      <div class="col-lg-10">
                        No Data
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <h2>Map Download</h2>
                <button type="button" class="btn btn-color1" id="current-btn-download">Current Conditions</button>

              </div>
            </div>

          </div>
          <div class="col-lg-6 col-md-6">
            <div class="row" style="text-align: right;">
              <div class="col-lg-12">
                <div class="map-title">Outlooks</div>
                <p>Map Updated: <span id="map-outlook-date"></span></p>
              </div>
              <div class="col-lg-12">
                <div class="row justify-content-end">
                  <div class="col-lg-2">
                    <input type="radio" id="outlook-m1" name="radio-group" checked>
                    <label for="outlook-m1" data-toggle="tooltip" data-html="true" data-placement="left" title="For next month">1M</label>
                  </div>
                  <div class="col-lg-2">
                    <input type="radio" id="outlook-m2" name="radio-group">
                    <label for="outlook-m2" data-toggle="tooltip" data-html="true" data-placement="left" title="For next 2 months">2M</label>
                  </div>
                  <div class="col-lg-2">
                    <input type="radio" id="outlook-m3" name="radio-group">
                    <label for="outlook-m3" data-toggle="tooltip" data-html="true" data-placement="left" title="For next 3 months">3M</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="map-2" id="map2"></div>
            <hr>
            <div class="row" style="border-left: 1px solid #c3c3c3;">
              <div class="col-lg-6 col-md-6 legend-list">
                <h2>Outlook Warning</h2>
                <ul>
                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="background: #88A541; border:1px solid #C3C3C3;"></div>
                      </div>
                      <div class="col-lg-10">
                        None
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="background:#F89F1D"></div>
                      </div>
                      <div class="col-lg-10">
                        Watch
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="background: #B97A57"></div>
                      </div>
                      <div class="col-lg-10">
                        Warning
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row col-lg-12">
                      <div class="col-lg-2">
                        <div class="intensity-class" style="background:#880015"></div>
                      </div>
                      <div class="col-lg-10">
                        Alert
                      </div>
                    </div>
                  </li>
                </ul>

              </div>
              <div class="col-lg-6 col-md-6">
                <h2>Map Download</h2>
                <button type="button" class="btn btn-color1" id="btn-download-outlook1m">1M</button>
                <button type="button" class="btn btn-color2" id="btn-download-outlook2m">2M</button>
                <button type="button" class="btn btn-color3" id="btn-download-outlook3m">3M</button>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>


    <section class="content-lists">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6">
            <hr>
            <h3 style="text-align: center;">DISCLAIMER</h3>
            <p class="products-desc">All the information products which are available in this information system have been generated with the highest degree of accuracy possible and depict the information at regional and national scales. Local conditions are subjected to change based on the local climatic conditions. These products have been produced based on the latest available satellite and global modeled data and subject to update every two weeks.</p>
            <hr>
          </div>
        </div>

      </div>
    </section>

    <section class="content-lists">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6 intensity-table">
            <h3>Intensity of Current Conditions</h3>
            <table>
             <tbody>
               <tr>
                 <th></th>
                 <th>Drought Category</th>
                 <th>Probability of Occurrence</th>
                 <th>Risk Level</th>
                 <th>Possible Observe Conditions and Impacts</th>
               </tr>
               <tr>
                 <td style="background: #F89F1D;"></td>
                 <td>Moderate Drought</td>
                 <td style="text-align: center;">0-60 %</td>
                 <td style="text-align: center;">Medium</td>
                 <td>
                   <ul style="list-style-type: circle;margin-left: 20px;">
                     <li> Warmer weather </li>
                     <li> Less rainfall</li>
                     <li> Delayed or shorter monsoon rains</li>
                   </ul>
                   <br>
                   <ul style="list-style-type: circle;margin-left: 20px;">
                     <li>Falling agricultural crop production </li>
                     <li>Water shortages</li>
                   </ul>
                 </td>
               </tr>
               <tr>
                 <td style="background: #B97A57;"></td>
                 <td>Severe Drought</td>
                 <td style="text-align: center;">0-20 %</td>
                 <td style="text-align: center;">High</td>
                 <td>
                   <ul style="list-style-type: circle;margin-left: 20px;">
                     <li>Warmer weather </li>
                     <li>Significantly less rainfall</li>
                     <li>Delayed or shorter monsoon rains</li>
                   </ul>
                   <br>
                   <ul style="list-style-type: circle;margin-left: 20px;">
                     <li>Falling agricultural crop production and disruptions to food production </li>
                     <li>Water shortages in fresh water sources</li>
                     <li>Water level drops in Mekong river</li>
                     <li>Water level drops in Tonle sap</li>
                     <li>Increasing salinity  in the Mekong Delta</li>
                     <li>Impact on fish reproduction in the Mekong river and Tonle Sap</li>
                   </ul>
                 </td>
               </tr>
               <tr>
                 <td style="background: #880015;"></td>
                 <td>Extreme Drought</td>
                 <td style="text-align: center;">0-20 %</td>
                 <td style="text-align: center;">High</td>
                 <td>
                   <ul style="list-style-type: circle;margin-left: 20px;">
                     <li>Warmer weather</li>
                     <li>Significantly less rainfall</li>
                     <li>Delayed or shorter monsoon rains</li>
                   </ul>
                   <br>
                   <ul style="list-style-type: circle;margin-left: 20px;">
                     <li>Exceptional Falling agricultural crop production and disruptions to food production </li>
                     <li>Emergencies of water shortages in fresh water sources</li>
                     <li>Significant water level drops in Mekong river and Tonle sap</li>
                     <li>Severe increasing of salinity in the Mekong Delta</li>
                     <li>Significant impact on fish reproduction in the Mekong river and Tonle sap</li>
                     <li>Disruptions to the entire ecosystem around Mekong river</li>
                   </ul>
                 </td>
               </tr>
             </tbody>

            </table>

          </div>
        </div>
      </div>
    </section>


    <section class="content-lists">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6 intensity-table">
            <h3>Outlook Warning</h3>
            <table>
              <tr>
                <th></th>
                <th>Warning Category</th>
                <th>Description (Source: G. Sepulcre-Canto et al, 2012)</th>
              </tr>
              <tr>
                <td style="background: #F89F1D;"></td>
                <td>Watch</td>
                <td>Precipitation is less than normal. There is an increased likelihood that there will be a drought affecting
                  agriculture. The situation should be monitored closely and responses should be put into preparation.</td>
              </tr>
              <tr>
                <td style="background: #B97A57;"></td>
                <td>Warning</td>
                <td>Soil moisture is in deficit. Drought that affects agriculture is expected. Put response strategies into action in order to minimise exposure.</td>
              </tr>
              <tr>
                <td style="background: #880015;"></td>
                <td>Alarm</td>
                <td>Vegetation shows signs of stress. Drought has begun to affect agriculture. Continue with or strengthen response strategies and monitor the situation closely</td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <section id="summary" class="summary">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 justify-content-center summary-content">
            <div class="section-title">
              <h2>DROUGHT SUMMARY</h2>
            </div>
          </div>

          <div class="col-lg-12" id="[[item.Items]]" ng-repeat="item in SummmaryList">
            <div class="summary-country">[[item.Items]]</div>
            <p class="summary-detail">[[item.Desc]]</p>
          </div>


      </div>
    </section><!-- End summary Us Section -->



    <section class="content-lists">
      <div class="container">
        <div class="row no-gutters">
          <div class="">

          </div>
          <div class="col-lg-4 col-md-6 content-item">
            <div class="highlight-icon">
              <a href="/map"><img src="/static/images/icons/Interractive_map.png" alt="INTERACTIVE MAP"></a>
            </div>
            <h4>INTERACTIVE MAP</h4>
            <p></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <div class="highlight-icon">
              <a href="/feature-articles"><img src="/static/images/icons/feature_articles.png" alt="FEATURE ARTICLES" style="height:140px;"></a>
            </div>
            <h4>FEATURE ARTICLES/KNOWLEDGE CENTER</h4>
            <p></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <div class="highlight-icon">
              <a href="/climate-studies"><img src="/static/images/icons/climate_study.png" alt="Climate study" style="height:140px;"></a>
            </div>
            <h4>CLIMATE STUDIES</h4>
            <p></p>
          </div>

        </div>
      </div>
    </section>
    <!-- ======= End Info Section ======= -->

    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6">

          <div class="about-div" style="margin-bottom:20px;">
              <div class="row">
                <div class="col-lg-12 col-md-6" style="text-align:center;">
                  <img src="/static/images/icons/drought-color-icon.png" alt="" height="250px">
                </div>
                <div class="col-lg-12  col-md-6">
                  <div class="about-div">
                  <h1 style="margin-top:50px;text-align:center;"><b>Mekong Drought and Crop Watch</b></h1>
                  <br>
                  <p>Droughts in the Lower Mekong region negatively impact ecosystem services, food and water security, and biodiversity. These impacts are exacerbated by climate change, further highlighting the need for improved governance and decision-making in virtually all sectors.</p>
                </div>
              </div>
            </div>
          </div>


            <div class="about-div">Application Purpose</p>
            <ul style="list-style-type: circle;margin-left: 25px; margin-bottom: 20px;">
              <li>improve the operational, technological, and institutional capabilities to prepare for and respond to droughts in the Lower Mekong region.</li>
              <li>support local decision-makers in drought monitoring, analysis, and forecasting.</li>
              <li>provide policy makers and growers with current and forecast drought indices to facilitate decision-making within the current growing season. </li>
              <li>provide ecological and financial forecasting information to inform seasonal cropping decisions. Subsequent functionality may include additional information relevant to decisions at sub-seasonal or multi-year temporal scales.</li>
            </ul>


            <div class="about-div">Application Uses</p>
            <p>The system can be used to assist local governments and the agricultural sector with seasonal drought forecasting and in implementing short and long-term mitigation measures during and in advance of droughts. It can also be used to characterize droughts through accurate, reliable, and timely estimates of their severity and impacts. In addition, the system can inform assessments of the economic, social, and environmental impacts of drought on vulnerable people and water-related resource systems. And finally, it can help develop critical regional and local thresholds reflecting increasing levels of risk and vulnerability to drought, as agreed by stakeholders.</p>

          </div>
        </div>
      </section><!-- End summary Us Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6 icon-box">
              <img src="/static/images/partners/nasa.png" alt="" style="width:auto; height:70px;">
              <img src="/static/images/partners/jpl.png" alt="" style="width:auto; height:50px;">
              <p>NASA Jet Propulsion Laboratory (JPL)</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <img src="/static/images/partners/michigan-state.png" alt="" style="width:auto; height:70px;">
              <p>Michigan State University</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <img src="/static/images/partners/massachusetts.png" alt="" style="width:auto; height:70px;">
              <p>University of Massachusetts Amherst</p>
            </div>
          </div>
          <br>
          <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6 icon-box">
              <img src="/static/images/partners/mrc.png" alt="" style="width:auto; height:85px;">
              <p>Mekong River Commission</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <img src="/static/images/partners/vawr.png" alt="" style="width:auto; height:70px;margin-bottom:15px;">
              <p>Vietnam Academy of Water Resources</p>
            </div>
          </div>
          <br>
          <div class="row ">
            <div class="col-lg-4 col-md-6 icon-box">
              <img src="/static/images/partners/sig.png" alt="" style="width:auto; height:60px;">
              <p>Spatial Informatics Group</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <img src="/static/images/partners/sei.png" alt="" style="width:auto; height:60px;">
              <p>Stockholm Environment Institute</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <img src="/static/images/partners/deltares.png" alt="" style="width:auto; height:60px;">
              <p>Deltares</p>
            </div>
          </div>

        </div>

      </section><!-- End Services Section -->

    </main><!-- End #main -->
    {% endblock %}
  </body>
  </html>
