{% extends 'base.html'%}
<html>
<head>
  {% block head %}
  <title>MD&CW</title>
  {% endblock %}
</head>

<body>

  {% block body%}
  <!-- ======= Hero Section ======= -->

  <main id="main" style="padding: 20px;">

      <div class="" ng-controller="MapController">
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <div class="map" id="map">
              <div id="menu-left" class="sidenav sidenav-menu">
                <div class="">
                  <div class="searching-form">
                  <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="select-areaIndexSelectors">AREA</label>
                                <!-- <input type="text" class="form-control" id="start_date" value="" placeholder="dd/mm/yyyy"> -->
                                <select class="form-control" name="" id="select-areaIndexSelectors" >
                                  <option ng-repeat="x in areaIndexSelectors" value="[[x.value]]">[[x.name]]</option>
                                </select>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="map-select-indices1">SELECT INDICATOR</label>
                            <select class="form-control" name="" id="map-select-indices1" >
                              <option ng-repeat="x in variables" value="[[x.value]]">[[x.name]]</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="select-periodicity">SELECT PERIODICITY</label>
                              <select class="form-control" name="" id="select-periodicity" >
                                <option ng-repeat="x in periodicity" value="[[x.value]]">[[x.name]]</option>
                              </select>
                          </div>
                        </div>
                      </div>
                  </div>

                </div>
                </div>
              </div>

              <div id="show-menu" class="show-menu">
                <p>Show Menu</p>

              </div>

              <div id="hide-menu" class="close-menu">
                <p>Hide Menu</p>
              </div>

              <div id="show-calendar" class="show-calendar">
                <p>Show Calendar</p>

              </div>

              <div id="hide-calendar" class="close-calendar">
                <p>Hide Calendar</p>
              </div>

              <div class="date-picker">
                <div id="dp5" data-date-format="yyyy-mm-dd"></div>
              </div>

              <div class="control-panel map-component">
                <div class="scalebar-container"></div>
                <!-- Map Munu -->
                {% include "panels/map-menu.html" %}
              </div>

              <div class="legend-panel map-legend">
                <div class="slidecontainer">
                  <p>Opacity: <span id="opacity-value"></span></p>
                  <input type="range" min="1" max="100" value="100" class="slider" id="opacity-slider">
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-6 legend-list">
                    <ul>
                      <li ng-repeat="x in legendsSB">
                        <div class="row">
                          <div class="col-lg-2">
                            <div class="intensity-class" style="background: #[[x.color]]; border:1px solid #C3C3C3;"></div>
                          </div>
                          <div class="col-lg-10">
                            [[x.class]]
                          </div>
                        </div>
                      </li>

                    </ul>

                  </div>
                </div>


              </div>
            </div>


            <div id="compare-modal" class="model map-modal map-modal--vertical-smaller map-modal--horizontal-smaller" tabindex="-1" role="dialog"  style="display: none;">
                <div class="map-modal__header">
                    <h3 class="map-modal__title">Compare Layers</h3>
                </div>
                <div class="map-modal__content">
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="border-right: 1px solid #c39f79;">
                      <b>Left Window Options</b>
                      <label>
                          Select Indicator
                      </label>
                      <select class="form-control" name="" id="map-left-indices" >
                        <option ng-repeat="x in variables" value="[[x.value]]">[[x.name]]</option>
                      </select>
                      <br>
                      <label>
                          Select Date
                      </label>
                      <div>
                        <input id="datepicker-left" class="form-control" data-date-format="yyyy-mm-dd"/>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <b>Right Window Options</b>
                      <label>
                          Select Indicator
                      </label>
                      <select class="form-control" name="" id="map-right-indices" >
                        <option ng-repeat="x in variables" value="[[x.value]]">[[x.name]]</option>
                      </select>
                      <br>
                      <label>
                          Select Date
                      </label>
                      <div>
                        <input id="datepicker-right" class="form-control" data-date-format="yyyy-mm-dd"/>
                      </div>

                    </div>

                  </div>

                </div>
                <div class="map-modal__buttons">
                  <div>
                      <button type="button" class="btn" id="btn-add-compare">Add Layers</button>
                  </div>
                    <div>
                        <button type="button" class="btn" id="btn-close-compare">Close</button>
                    </div>
                </div>
            </div>



          </div>
          <div class="col-lg-4 col-md-6" style="padding-top:30px;">
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="row">
                  <div class="col-lg-6 col-md-6 select-opt">
                    SELECT INDICES
                    <select class="form-control" name="" id="select-indices1" >
                      <option ng-repeat="x in variables" value="[[x.value]]">[[x.name]]</option>
                    </select>
                  </div>
                </div>

              </div>

              <div class="col-lg-12 col-md-6">
                <figure class="highcharts-figure">
                  <p class="highcharts-description"  id="chart-description-c2">

                  </p>
                  <div class="chart-area" id="area-container"></div>
              </figure>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="row">
                  <div class="col-lg-6 col-md-6 select-opt">
                    SELECT INDICES
                    <select class="form-control" name="" id="select-indices2">
                      <option ng-repeat="x in variables" value="[[x.value]]">[[x.name]]</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-6">
                <figure class="highcharts-figure">
                  <p class="highcharts-description"  id="chart-description-c4">
                  </p>
                  <div class="chart-area" id="area-container-chart3"></div>
              </figure>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <a href="#" class="btn btn-sm btn-color3">LEARN ABOUT DROUGHT INDICATORS</a>
              </div>

            </div>

          </div>
        </div>

      </div>



    </main><!-- End #main -->
    {% endblock %}
  </body>
  </html>
