{% extends 'base.html'%}
<html>
<head>
  {% block head %}
  <title>MDCW</title>
  {% endblock %}
</head>
<body>

  {% block body%}
  <!-- ======= Hero Section ======= -->
  <div class="row" style="background: #5d4f3f;color:#FFF;margin-bottom: 30px;">
    <div class="container ">
      <div class="row">
        <div class="col-lg-2 menu-tab active">
          <a href="/home" >DROUGHT</a>
        </div>
        <div class="col-lg-2 menu-tab">
          <a href="/crop">CROP YIELD</a>
        </div>
      </div>
    </div>
  </div>
  <main id="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6">
          <div class="panel panel-danger" style="background-color:#ebccd1; margin-top: 50px; padding:15px;">
            <div class="panel-body">
              <p>
                <span>
                  <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-exclamation-diamond" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg>
                </span>
                <b style="font-size:36px;">Page Under Construction </b>
              </p>
              <h4 class="text-justify">
                  Invite you to come back here soon
              </h4>

            </div>
          </div>
        </div>

      </div>
    </div>


  </main><!-- End #main -->
    {% endblock %}
  </body>
  </html>
