<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-container" ng-controller="settingsCtrl">    
		<div class="container-fluid banner-container main-padding">             
             <div ng-repeat="partner in partnersHeader" class="banner">
                 <a href="[[partner.url]]" target="_blank">
                     <img class="grow img-responsive [[partner.className]]" src="[[partner.src]]" alt="[[partner.alt]]">
                 </a>             
             </div>
		</div>
		
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header menu-container main-padding">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand navmenu" href="/home/">[[applicationName]]</a>
		</div>

		<div class="container-fluid menu-container collapse navbar-collapse main-padding" id="navbar-collapse">
		    <!-- <div class="collapse navbar-collapse"> -->
		         <ul class="nav navbar-nav navbar-right">
		             <li ng-repeat="menu in menus">
		                 <a ng-show="menu.show" class="navmenu" href="[[menu.url]]">[[menu.name]]</a>
		             </li>
		         </ul>
		     <!-- </div> -->
		</div>
	</div>
    <!-- /.navbar-collapse -->
</nav>
