<div ng-controller="GlobalCtrl">
	<div class="navtop navigation-bar white" id="banners" ng-show="showUpwardArrow">
		<div class="navigation-bar-content container">
			<div class="mico usaid"></div>
			<div class="mico nasa"></div>
			<div class="mico adpc"></div>
			<div class="mico servir"></div>
		</div>
	</div>

	<div class="navigation-bar dark">
		<div class="navigation-bar-content container">
			<a ui-sref="home" class="element" style="cursor: pointer;">
				<div style="font-weight:900;">REGIONAL DROUGHT AND CROP YIELD INFORMATION SYSTEM (RDCYIS)</div>
			</a>
			<span class="element-divider"></span>

			<a class="element1 pull-menu" href="#"></a>

			<div id="slider-up" class="place-right" ng-click="slideUpClick()" style="cursor: pointer;margin-top: 10px;margin-right: -4em;">
				<img src="modules/core/client/img/slide-up.png" id="slide-up" style="height: 25px;" />
			</div>

			<ul class="element-menu place-right">
				<li style="cursor: pointer;"><a ui-sref="about">About</a></li>
				<li style="cursor: pointer;"><a ui-sref="how-to-use">How to Use?</a></li>
				<li style="cursor: pointer;"><a ui-sref="doc">Document</a></li>
				<li style="cursor: pointer;"><a ui-sref="feedback">Feedback</a></li>
			</ul>
		</div>
	</div>
</div>