<ul>
  <li class="zoom-in pointer shadow" id="zoom-in">
    <svg class="panel-icon">
      <use xlink:href="#icon-plus">
        <svg fill="#FFF" id="icon-plus" viewBox="0 0 1024 1024">
          <title>Zoom In</title>
          <path d="M573.44 245.76h-122.88v204.8h-204.8v122.88h204.8v204.8h122.88v-204.8h204.8v-122.88h-204.8v-204.8z" class="path1"></path>
        </svg>
      </use>
    </svg>
    <span class="tooltipmap tooltipmap2 left"> ZOOM IN </span>
  </li>
  <li class="zoom-in pointer shadow" id="zoom-out">
    <svg class="panel-icon">
      <svg fill="#FFF" id="icon-minus" viewBox="0 0 1024 1024">
        <title>Zoom Out</title>
        <path d="M778.24 573.44h-532.48v-122.88h532.48v122.88z" class="path1"></path>
      </svg>
    </svg>
    <span class="tooltipmap tooltipmap4 left"> ZOOM OUT</span>
  </li>

  <li class="pointer shadow" id="download-btn">
    <svg class="panel-icon">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
      <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
      <path fill-rule="evenodd" d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z"/>
      <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z"/>
    </svg>
    </svg>
    <span class="tooltipmap tooltipmap6 left"> DOWNLOAD MAP</span>
  </li>


</ul>
