<div class="row" ng-controller="mapCtrl">

	<!-- The Modal for Chart -->
	<div id="chartModal" class="modal display-none-imp">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-close">&times;</span>
				<h2>[[chartModalTitle]]</h2>
			</div>
			<div class="modal-body"></div>
		</div>

	</div>

	<div ng-include src="'/modules/sidebar/client/views/sidebar.client.view.html'"></div>

	<!-- Alert Container -->
	<div class="alert alert-dismissible text-center display-none" ng-Class="alertClass" role="alert">
		<button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h5><strong>[[alertContent]]</strong></h5>
	</div>

	<!-- Map and dependencies -->
	<div>
		<!-- Map Container -->
		<div class="map" ng-class="mapClass" id="map"></div>

		<!-- Legend Container -->
		<div class="panel panel-default legend" ng-show="showLegend">
			<div class="panel-heading">
				<h4>
					<a class="legend-toggle"
					   data-toggle="collapse"
					   data-parent="#accordion"
					   href="#legend-body"></a>
					Legend
				</h4>
			</div>
			<div class="panel-collapse collapse out" id="legend-body">
				<div class="panel-body">
					<span class="text-center">
						<h5><strong>[[legendParameter]]<br />[[legendDate]]</strong></h5>
					</span>
				</div>
			</div>
		</div>

		<!-- Slider Container -->
		<div class="opacity-slider leaflet-right" ng-show="showLegend">
		    <div class="leaflet-control">
		        <div class="form-group float-left" ng-show="showOpacitySlider" style="margin-top:-30px;">
		        	<input id="opacitySlider" data-slider-id="opacitySlider" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" class="opacity-slider">
		        </div>
		        <div class="leaflet-control-opacity float-right">
			        <a class="eye" ng-click="opacityIconClick()" href="#" title="Change the opacity of displayed data">
			        	<i ng-Class="opacitySliderIcon" class="opacity-eye" aria-hidden="true"></i>
			        </a>
		    	</div>
		    </div>
		</div>

		<div id="loader" class="loader" ng-show="showLoader">
			<div class="loading-img"></div>
		</div>

		<div class="sliderContainer">
			<div id="datePickerSlider" class="datePickerSlider" name="datePickerSlider" />
			<button type="button" class="btn btn-default slide-forward" title="move the slider by 1 day forward" ng-click="slideForward()">
				<span class="glyphicon glyphicon-forward" aria-hidden="true" style="left: 2px;"></span>
			</button>
			<button type="button" class="btn btn-default slide-backward" title="move the slider by 1 day backward" ng-click="slideBackward()">
				<span class="glyphicon glyphicon-backward" aria-hidden="true" style="right: 2px;"></span>
			</button>
		</div>
	</div>

</div>
