<div class="main-padding content container-fluid">

    <div class="row" ng-controller="settingsCtrl">

        <div class="col-sm-12 col-lg-7 col-md-7" style="font-size: 18px;font-weight: 300;">
            <h3 translate><b>TITLE</b></h3>
            <p translate class="text-justify">TITLE_DESCRIPTION</p>
            <br />
            <h3 translate><b>APPLICATION_PURPOSE</b></h3>
            <p class="text-justify" translate>
                APPLICATION_PURPOSE_DESCRIPTION_TITLE
                <br /><br />
                <ol type="1">
                    <li translate>APPLICATION_PURPOSE_DESCRIPTION_1</li>
                    <br />
                    <li translate>APPLICATION_PURPOSE_DESCRIPTION_2</li>
                    <br />
                    <li translate>APPLICATION_PURPOSE_DESCRIPTION_3</li>
                    <br />
                    <li translate>APPLICATION_PURPOSE_DESCRIPTION_4</li>
                </ol>
            </p>
            <br />
            <h3 translate><b>APPLICATION_USES</b></h3>
            <p class="text-justify" translate>APPLICATION_USES_DESCRIPTION</p>
        </div>

        <div class="col-sm-12 col-lg-5 col-md-5">

            <div class="col-md-12 well" ng-init="fetchRSSFeeds();" style="overflow-y: scroll; max-height: 50vh;">
                <i class="fa fa-rss fa-2x"></i><h4 class="display-inline-block" translate><b> RSS_FEEDS</b></h4>
                <li ng-repeat="feed in rssFeeds" style="list-style: none;">
                    <a href="[[ feed.data.link ]]" target="_blank">
                        <strong class="media-heading"><h3>[[ feed.data.title ]]</h3></strong>
                    </a>
                    <span><b>Time: </b></span>
                    <span>[[ feed.data.datetime ]]</span>
                    <h5>Description</h5>
                    <!--<span ng-bind-html="[[ trimDescription(feed.data.body) ]]"></span>-->
                    <span ng-bind-html="[[ feed.data.body ]]"></span>
                    <hr>
                </li>
            </div>

            <div class="col-md-12 well">
                <h4 translate><b>VERSION</h4></b></h4>
                <br/>
                <h4 translate><b>COPYRIGHT</h4></b></h4>
                <br/>
                <h4 translate><b>PRODUCT_COLLABORATION</b></h4>
                <table class="about-table">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <img src="https://servir.adpc.net/themes/svmk/images/optimized/partner-adbc.png" class="adpc img-responsive">
                            </td>
                            <td width="60%"><b>Asian Disaster Preparedness Center (ADPC)</b></td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <img src="https://servir.adpc.net/themes/svmk/images/optimized/NASA_Logo_Color.png" class="nasa img-responsive">
                                <img src="modules/core/client/img/jpl.png" class="jpl img-responsive">
                            </td>
                            <td width="60%"><b>NASA/Jet Propulsion Laboratory (JPL)</b></td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <img src="https://servir.adpc.net/themes/svmk/images/optimized/partner-sei-2.png" class="sei img-responsive">
                            </td>
                            <td width="60%"><b>Stockholm Environment Institute (SEI)</b></td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <img src="modules/core/client/img/mrc.jpg" class="mrc img-responsive">
                            </td>
                            <td width="60%"><b>Mekong River Commision (MRC)</b></td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <img src="modules/core/client/img/vawr.png" class="vawr img-responsive">
                            </td>
                            <td width="60%"><b>Vietnam Academy of Water Resources (VAWR)</b></td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <p translate><i>FOR_TECHNICAL_INQUIRY</i></br></p>
                <span translate>DATA_INFORMATION_RELATED</span> Susantha Jayasinghe (<b>susantha@adpc.net</b>)<br/>
                <span translate>PORTAL_RELATED</span> Biplov Bhandari (<b>biplov@adpc.net</b>)
            </div>

        </div>    

    </div>

</div>
