<div class="about">
       
    <h1><b>Regional Drought and Crop Yield Information System</b></h1>
    <h4 class="text-justify">
        Droughts in the Lower Mekong region negatively impact ecosystem services,
        food and water security, and biodiversity. These impacts are exacerbated by
        climate change, further highlighting the need for improved governance and
        decision-making in virtually all sectors.
    </h4>
    <br />
    <h3><b>Application Purpose</b></h3>
    <h4 class="text-justify">
        This integrated web-based information system is intended to:
        <br /><br />
        <ol type="1">
            <li>
                improve the operational, technological, and institutional capabilities to
                prepare for and respond to droughts in the Lower Mekong region;
            </li><br />
            <li>
                support local decision-makers in drought monitoring, analysis, and forecasting;
            </li><br />
            <li>
                provide policy makers and growers with current and forecast drought indices to facilitate decision-making within the current growing season; and
            </li><br />
            <li>
                provide ecological and financial forecasting information to inform seasonal cropping decisions.Subsequent functionality may include additional information relevant to decisions at sub-seasonal or multi-year temporal scales.
            </li>
        </ol>
    </h4>
    <br />
    <h3><b>Application Uses</b></h3>
    <h4 class="text-justify">
        The system can be used to assist local governments and the agricultural sector with
        seasonal drought forecasting and in implementing short and long-term mitigation measures
        during and in advance  of droughts. It can also be used to characterize droughts through
        accurate, reliable, and timely estimates of their severity and impacts. In addition, the
        system can inform assessments of the economic, social, and environmental impacts of drought
        on vulnerable people and water-related resource systems. And finally, it can help develop
        critical regional and local thresholds reflecting increasing levels of risk and vulnerability
        to drought, as agreed by stakeholders. 
    </h4>

</div>