/* Loader */
#loading-img {
	width: 120px;
	height: 120px;
	margin-left: 50%;
	margin-top: 10%;
}

.loader {
	z-index: 1005;
	background: #e9e9e9;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
}
/*.loader {
	z-index: 1005;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; 
	margin-top: -50px;
	text-align: center;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}*/

/*Slider*/
.sliderContainer {
	display: inline-block;
	height: 5em;
	/*background-color: #eeeeee;*/
	background-color: rgba(238, 238, 238, 1);
	z-index: 1002;
	position: absolute;
	width: 75%;
	margin-left: 15%;
	bottom: 2em;
}

.datePickerSlider {
	position: absolute;
	width: 85%;
	margin-left: 6%;
	bottom: 1em;
	border-color: black;
}

.noUi-marker {
	background: black;
	margin-top: -2px;
}

.noUi-pips-horizontal {
	color: darkblue;
	margin-top: -3.8em;
	font-size: 1em;
	font-weight: bold;
}

.noUi-horizontal {
	height: 11px;
}

.noUi-handle-lower .noUi-tooltip {
	top: 25px;
	left: 50%;
	box-sizing: border-box;
	display: inline-block;
	min-width: 125px;
	height: 2em;
	background-color: darkred;
	color: #fff;
	font-size: 1.1em;
}


.noUi-horizontal .noUi-handle-lower .noUi-tooltip:before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: -16px;
	left: 50%;
	margin-left: -8px;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: #D9D9D9;
	border-width: 8px 8px;
}


.noUi-horizontal .noUi-handle-lower .noUi-tooltip:after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: -12px;
	left: 50%;
	margin-left: -6px;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: white;
	border-width: 6px 6px;
}

.noUi-horizontal .noUi-handle {
	width: 20px;
	height: 20px;
	left: -20px;
	top: -7px;
	border-radius: 50%;
	/*opacity: 0.9;*/
}

.input-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100px;
	border: none;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
}

.noUi-handle:after, .noUi-handle:before, .noUi-handle:after, .noUi-handle:after {
	display: none;
}
/*End SLider*/

/* Modal CSS */
.modal {
	display: block;
	position: fixed; /* Stay in place */
	z-index: 1003; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
	padding: 2px 16px;
	/*background-color: #4267b2;*/
	background-color: rgba(66, 103, 178, 1);
	color: white;
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
	padding: 2px 16px;
	/*background-color: #4267b2;*/
	background-color: rgba(66, 103, 178, 1);
	color: white;
}

/* Modal Content */
.modal-content {
	/*top: 10%;*/
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

/* The Close Button */
.modal-close {
	cursor: pointer;
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#sidemenu {
	position: fixed;
	z-index: 1000;
	background-color: white;
	top: 1em;
}

#sidemenu .input-control {
	margin: -5px auto;
}

#mapDiv_zoom_slider {
	margin-left: 95vw;
}

/*#chartContainer svg {
	width: 240px;
}

.tab-control {
	display: none;
}*/

.expansionrow {
	padding-top: 10px;
	cursor: pointer;
	width: 100%;
	height: 34px;
	text-align: center;
}

#expansionimg {
	float: right;
}

#expansiontxt {
	display: none;
}

.metro .tab-control .frame {
	overflow-y: auto;
	overflow-x: hidden;
}

.metro .tab-control .frame {
	overflow-y: auto;
	overflow-x: hidden;
}

.expansionrow {
	padding-top: 10px;
	cursor: pointer;
	width: 100%;
	height: 34px;
	text-align: center;
}

.tab-control {
	animation-name: kleft;
	animation-duration: 4s;
}

.tab-control:active {
	margin-left: -350px;
}

.tab-control:hover {
	margin-left: 0;
}

.panelicon:hover {
	cursor: pointer;
}

#sidemenu-arrow-icon {
	cursor: pointer;
}

.sidebar-open {
	animation-name: rotateB;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.sidebar-close {
	animation-name: rotateA;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes kleft {
	from {
		margin-left: -350px;
	}

	to {
		margin-left: 0;
	}
}

/* Standard syntax */
@keyframes kleft {
	from {
		margin-left: -350px;
	}

	to {
		margin-left: 0;
	}
}

@-moz-keyframes rotateA {

	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(-180deg);
	}
}

@-webkit-keyframes rotateA {

	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(-180deg);
	}
}

@keyframes rotateA {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-180deg);
	}
}

@-moz-keyframes rotateB {

	from {
		-moz-transform: rotate(-180deg);
	}

	to {
		-moz-transform: rotate(0deg);
	}
}


@-webkit-keyframes rotateB {

	from {
		-webkit-transform: rotate(-180deg);
	}

	to {
		-webkit-transform: rotate(0deg);
	}
}

@keyframes rotateB {

	from {
		transform: rotate(-180deg);
	}

	to {
		transform: rotate(0deg);
	}
}

/*Map CSS*/
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

	.info h4 {
		margin: 0 0 5px;
		color: #777;
	}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

	.legend i {
		width: 18px;
		height: 18px;
		float: left;
		margin-right: 8px;
		opacity: 0.7;
	}

/* Native lib overwrite*/
.leaflet-control-geosearch form {
	left: -17em;
}

.md-pane-open {
	z-index: 1000;
}
