/* golbal  */
/* icon  */


label {
	font-size: 0.8em;
}

.mico {
	height: 50px;
	margin: 10px;
	float: left;
	background: no-repeat fixed center;
}


.usaid {
	background: url("https://servir.adpc.net/themes/svmk/images/optimized/USAID_Logo_Color.png");
	background-size: auto 50px;
	width: 160px !important;
}

.nasa {
	background: url("https://servir.adpc.net/themes/svmk/images/optimized/NASA_Logo_Color.png");
	background-size: auto 50px;
	width: 50px !important;
}

.adpc {
	background: url("https://servir.adpc.net/themes/svmk/images/optimized/partner-adbc.png");
	background-size: auto 50px;
	width: 100px !important;
}

.servir {
	float: right;
	background: url("https://servir.adpc.net/themes/svmk/images/optimized/Servir_Logo_Color.png") no-repeat center;
	background-size: auto 35px;
	width: 250px !important;
}

.navigation-bar-content {
	background: url("https://servir.adpc.net/themes/svmk/images/optimized/satellite-inside.png");
	background-position: 110% 70%;
	background-repeat: no-repeat;
	background-size: 800px auto;
}

.navmenu {
	margin-top: 10px;
}


.tab-control {
	width: 400px !important;
	margin-top: 120px;
	z-index: 10;
}

.frame {
	padding: 0 !important;
}

.accordion-frame {
	width: 380px !important;
}

.mform {
	padding: 20px 0 20px 20px !important;
}

.window {
	display: block;
	overflow: visible;
	z-index: 100;
}

.windows1 {
	margin-top: 50px;
}

#chart {
	display: block !important;
	width: 850px;
	height: 50vh;
	background-color: lightgray;
	margin: 20px auto;
}


#win4export input [type="submit"] {
	display: none;
}
