.map {
	display: block;
	height: calc(100vh - 115px);
}

/*
 * Alert
 */

.custom-alert {
	margin-left: 25%; /* See sidebar.css .toggle-sidebar-button.is-open */
	width: calc(100vw - 26%);
	position: fixed;
	z-index: 402;
}

.custom-alert-full {
	margin-left: 4%; /* See sidebar.css .toggle-sidebar-button.is-open */
	width: calc(100vw - 5%);
	position: fixed;
	z-index: 402;
}

/*
 * Loader
 */

.loading-img {
	width: 120px;
	height: 120px;
	margin-left: 50%;
	margin-top: 10%;
	background: url(../../modules/core/client/img/spinner.gif) center center no-repeat, url(../../../core/client/img/spinner.gif) center center no-repeat;
}

.loader {
	z-index: 1005;
	background: #e9e9e9;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
}

/*
 * Modal for chart
 */

.modal {
	display: block;
	position: fixed; /* Stay in place */
	z-index: 1030; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
	padding: 2px 16px;
	/*background-color: #4267b2;*/
	background-color: rgba(66, 103, 178, 1);
	color: white;
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
	padding: 2px 16px;
	/*background-color: #4267b2;*/
	background-color: rgba(66, 103, 178, 1);
	color: white;
}

/* Modal Content */
.modal-content {
	/*top: 10%;*/
	position: relative;
	background-color: #fefefe;
	margin: auto;
	margin-top: 7%;
	padding: 0;
	border: 1px solid #888;
	/*width: 50%;*/
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	width: 800px;
	height: 500px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

/* The Close Button */
.modal-close {
	cursor: pointer;
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/*
 * Legend
 */
.legend {
	position: absolute;
	/* bottom: 20px; */
	display: inline-block;
	/*z-index: 403;*/
	z-index: 1000;
	margin: 20px;
	/* float: left; */
	right: 0;
	margin-top: 60px;
}

.legend tr td img {
	height: 8%;
	margin: 5px;
}

.legend h5 {
	padding-left: 5px;
	padding-right: 5px;
}

.panel-heading .legend-toggle {
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none !important;
}

.panel-heading .legend-toggle:after {
	font-family: "FontAwesome";
	content: "\f147";
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	float: right;
	margin-left: 10px;
}

.panel-heading .legend-toggle.collapsed:after {
	content: "\f196";
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend-leaflet {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend-leaflet i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}