.sliderContainer {
    height: 5em;
    background-color: rgb(238, 238, 238);
    z-index: 400;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    bottom: 4em;
}

.datePickerSlider {
    position: relative;
    width: 80%;
    margin-left: 4%;
    bottom: -3.5em;
    border-color: rgb(0, 0, 0);
}

.slide-backward {
	position: relative;
    margin-right: 1%;
    float: right;
    margin-top: 1%;
}

.slide-forward {
	position: relative;
    margin-right: 3%;
    float: right;
    margin-top: 1%;
}

/*Slider*/

.noUi-marker {
	background: black;
	margin-top: -2px;
}

.noUi-pips-horizontal {
	color: rgb(0, 0, 139);
	margin-top: -3.8em;
	font-size: 1em;
	font-weight: bold;
}

.noUi-horizontal {
	height: 11px;
}

.noUi-handle-lower .noUi-tooltip {
	top: 25px;
    height: 2em;
    background-color: rgb(255, 248, 220);
    font-weight: bold;
    font-size: medium;
}

.uitooltip-input {
	width: 100px;
    text-align: center;
    border: none;
    height: 15px;
    background-color: rgb(255, 248, 220);
}


.noUi-horizontal .noUi-handle-lower .noUi-tooltip:before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: -16px;
	left: 50%;
	margin-left: -8px;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: rgb(217, 217, 217);
	border-width: 8px 8px;
}


.noUi-horizontal .noUi-handle-lower .noUi-tooltip:after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: -12px;
	left: 50%;
	margin-left: -6px;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: rgb(255, 255, 255);
	border-width: 6px 6px;
}

.noUi-horizontal .noUi-handle {
	width: 20px;
	height: 20px;
	left: -20px;
	top: -7px;
	border-radius: 50%;
}

.input-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100px;
	border: none;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
}

.noUi-handle:after, .noUi-handle:before, .noUi-handle:after, .noUi-handle:after {
	display: none;
}

/*End SLider*/
