/*Slider*/
.sliderContainer {
	/*display: inline-block;
	height: 5em;
	background-color: rgba(238, 238, 238, 1);
	z-index: 400;
	position: relative;
	width: 80%;
	margin-left: 10%;
	bottom: 8em;*/
    height: 5em;
    background-color: rgba(238, 238, 238, 1);
    z-index: 400;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    bottom: 4em;
}

.datePickerSlider {
    position: relative;
    width: 80%;
    margin-left: 4%;
    bottom: -3.5em;
    border-color: black;
}

.slide-backward {
	position: relative;
    margin-right: 1%;
    float: right;
    margin-top: 1%;
}

.slide-forward {
	position: relative;
    margin-right: 3%;
    float: right;
    margin-top: 1%;
}

.noUi-marker {
	background: black;
	margin-top: -2px;
}

.noUi-pips-horizontal {
	color: darkblue;
	margin-top: -3.8em;
	font-size: 1em;
	font-weight: bold;
}

.noUi-horizontal {
	height: 11px;
}

.noUi-handle-lower .noUi-tooltip {
	/*top: 25px;
	left: 50%;
	box-sizing: border-box;
	display: inline-block;
	min-width: 125px;
	height: 2em;
	background-color: darkred;
	color: #fff;
	font-size: 1.1em;*/
	top: 25px;
    height: 2em;
    background-color: cornsilk;
    font-weight: bold;
    font-size: medium;
}

.uitooltip-input {
	width: 100px;
    text-align: center;
    border: none;
    height: 15px;
    background-color: cornsilk;
}


.noUi-horizontal .noUi-handle-lower .noUi-tooltip:before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: -16px;
	left: 50%;
	margin-left: -8px;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: #D9D9D9;
	border-width: 8px 8px;
}


.noUi-horizontal .noUi-handle-lower .noUi-tooltip:after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: -12px;
	left: 50%;
	margin-left: -6px;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: white;
	border-width: 6px 6px;
}

.noUi-horizontal .noUi-handle {
	width: 20px;
	height: 20px;
	left: -20px;
	top: -7px;
	border-radius: 50%;
	/*opacity: 0.9;*/
}

.input-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100px;
	border: none;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
}

.noUi-handle:after, .noUi-handle:before, .noUi-handle:after, .noUi-handle:after {
	display: none;
}
/*End SLider*/
